{
	"plugins": ["tsdoc"],
	"ignorePatterns":["dist/**","docs/**"],
	"extends":"standard-with-typescript",
	"parserOptions":{
		"project":"./tsconfig.json"
	},
	"rules": {
		"@typescript-eslint/no-explicit-any": "error",
		"@typescript-eslint/explicit-module-boundary-types": "error",
		"tsdoc/syntax": "warn"
	}
}
