# Dependency directories
node_modules/
# Default list for Yarn with PNP, no ZeroInstall
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Log files
*.log

# Compile targets
dist/
docs/

# Compiler caches
.parcel-cache
